* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    background-color: #d2e9fb;
}
/*导航栏*/
#header {
    width: 100%;
    height: 42px;
    background-color: rgba(255, 255, 255, 1);
}
#menu{
    padding: 0 calc((100% - 1160px) / 2);
}

#container {
    position: relative;
    width: 1160px;
    padding-left: 248px;
    padding-right: 278px;
    margin: 8px auto;
}
/*左边*/
#left{
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 200px;
    margin-right: 8px;
    border-radius: 4px;
    background-color: #fff;
}
/*中间*/
#center{
    width: 100%;
}
/*发布动态编辑器*/
#original-editor{
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
}
/*动态*/
#feeds-block{
    min-height: 400px;
    margin-bottom: 16px;
    color: rgba(54, 57, 58, 1);
}
.forword-editor-cla::before{
    left: 105px;
}
.comment-editor-cla1::before{
    left: 315px;
}
.comment-editor-cla2::before{
    left: 156px;
}

/*右边*/
#right {
    position: absolute;
    top: 0;
    right: 0;
    width: 270px;
    margin-left: 8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 2px rgba(0, 0, 0,.1);
    overflow: hidden;
}

#uptoTop {
    display: block;
    position: fixed;
    bottom: 80px;
    right: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(136, 149, 166, 1);
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    overflow: hidden;
}
#uptoTop:hover {
    color: rgba(121, 158, 232, .91);
}
#uptoTop:hover::before{
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 14px;
    text-align: center;
}
#uptoTop:hover::before{
    content: 'TOP';
    background-color: #fff;
}

/*响应式*/
@media screen and (max-width: 1200px) {
    body {
        min-width: 1200px;
    }
}
