#header {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 160px;

    background-image: url(../img/home/Banner.png);
    background-position: center top;
    background-size: cover;
}
#menu{
     padding: 0 calc((100% - 980px) / 2);
}
/*毛玻璃特效*/
#menu:after{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.5);

    background-image: url(../img/home/Banner.png);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
}
.menu-item:hover{
    background-color: rgba(255, 255, 255, .7);
}
/*主页内容*/
#homePage {
    width: 100%;
}
/*主页内容顶部导航栏*/
#top {
    width: 960px;
    margin: 16px auto;
    box-shadow: 0 1px 1px 1px rgb(230, 230, 230);
    background-color: rgba(255, 255, 255, 1);
}
#card {
    width: 100%;
    height: 58px;
    padding: 0 10px;
}
#cardList {
    list-style-type: none;
}
.cardItems {
    display: block;
    float: left;
    height: 58px;
    padding: 4px 0;
    margin: 0 10px;
}
.cardItems span {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.cardItems a {
    font-size: 12px;
    letter-spacing: 1px;
    color: #3f3f3f;
}
.cardItems:nth-child(1) .iconfont {
    color: rgba(66, 211, 132, 1);
}
.cardItems:nth-child(1):hover span {
    color: rgba(66, 211, 132, 1);
}
.cardItems:nth-child(2) .iconfont {
    color: rgba(0, 133, 235, 1);
}
.cardItems:nth-child(2):hover span {
    color: rgba(0, 133, 235, 1);
}
.cardItems:nth-child(3) .iconfont {
    color: rgba(255, 210, 0, 1);
}
.cardItems:nth-child(3):hover span {
    color: rgba(255, 210, 0, 1);
}
.cardItems:nth-child(4) .iconfont {
    color: rgba(0, 133, 235, 1);
}
.cardItems:nth-child(4):hover span {
    color: rgba(0, 133, 235, 1);
}
/*主页内容容器*/
#container {
    position: relative;
    width: 960px;
    min-height: 630px;
    margin: 16px auto;
    padding-right: 316px;
}
#center {
    width: 100%;
    /*box-shadow: 0 1px 1px 1px rgb(230, 230, 230);
    background-color: rgba(255, 255, 255, 1);*/
}
#goodArticle {
    position: relative;
    width: 100%;
    min-height: 740px;
    padding-bottom: 55px;
    border-radius: 5px;
    background-color: #fff;
}
.articleHeadline {
    position: relative;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
}
/*.articleHeadline::before{
    content: '';
    position: absolute;
    left: 0;
    widows: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(54, 58, 57, .8);
}*/
.articleHeadline h2 {
    display: block;
    width: 50%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    text-align: left;
    color: rgba(54, 58, 57, 1);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}
#noteSection{
    position: relative;
    width: 100%;
    min-height: 640px;
    padding: 0 20px;
    background-color: #fff;
}
.article {
    width: 100%;
    height: 80px;
    padding: 5px 0;
    margin-bottom: 8px;
    border-bottom: solid 1px rgba(220, 220, 220, 1);
    letter-spacing: 1px;
}
.article h2 {
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.article h2 a {
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
}
.article h2 a:hover {
    color: rgba(0, 161, 214, .8);
}
.article p {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: rgba(108, 108, 108, 1);
}
.articleInfo {
    position: relative;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(108, 108, 108, 1);
}
/*作者个人信息栏*/
.author-infobox {
    position: relative;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    color: rgba(54, 58, 57, 1);
}
.author {
    display: inline-block;
    margin-right: 10px;
    color: rgba(54, 58, 57, 1);
}
.author:hover {
    color: rgba(244, 90, 131, 1);
}
/*======测试=====信息悬浮窗============*/
.user-info {
    width: 300px;
    height: 200px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(54, 58, 57, 1);
    font-size: 14px;
    cursor: default;
}
.user-basic-info {
    width: 100%;
    height: 100px;
    background: url(../img/common/userinfo-bg.png) no-repeat center;
}
.user-basic-infobg {
    width: 100%;
    height: 100%;
    padding: 20px 10px 10px 10px;
}
.user-profile {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
}
.user-nickname {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.user-devote {
    width: 100%;
    padding: 10px;
    text-align: center;
}
.user-devote span {
    line-height: 30px;
    margin: 0 10px;
}
.user-devote span em {
    line-height: 30px;
    margin: 0 5px;
    font-style: normal;
    font-size: 14px;
    color: rgba(244, 90, 131, 1);
}
.user-devote a {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 10px auto;
    border: none;
    border-radius: 2px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    background-color: rgba(0, 161, 214, .8);
}
.user-devote a:hover {
    background-color: rgba(0, 161, 214, 1);
}
/*关注*/
.pay-attention-to {
    cursor: pointer;
}
.hasAttention {
    cursor: not-allowed;
}
/*===============================*/
.article-type{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding-right: 10px;
    color: rgba(54, 58, 57, 1);
}
.article-type:hover{
    color: rgba(54, 58, 57, 1);
}
/*浏览信息*/
.readInfo {
    position: absolute;
    top: 0;
    right: 5px;
    height: 100%;
    line-height: 100%;
}
.readInfo span {
    display: block;
    float: right;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    text-align: center;
}
.readInfo a {
    padding-right: 2px;
    color: rgba(54, 58, 57, 1);
}

#note-laypage{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
/*主页右边区域*/
#rightside {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
}

/*=========轮播图=========*/
#ad{
    margin-bottom: 16px;
}
/*==================*/

/*技术头条*/
#hot-notes-block {
    width: 100%;
    border-radius: 5px;
    /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/
    background-color: rgba(255, 255, 255, 1);
}
#techHeadline {
    width: 100%;
}
#techHeadline h2 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px rgba(216, 216, 216, .5);
    text-align: center;
    color: rgba(54, 58, 57, 1);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}
#techHeadline h2 em {
    font-style: normal;
}
#hot-notes {
    width: 100%;
    height: 401px;
}
.hot-note-item {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    overflow: hidden;
}
.hot-note-item span {
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: 11px 10px 11px 0;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 133, 255, 1);
}
.hot-note-item:nth-child(1) span {
    background-color: rgba(255, 70, 79, 1);
}
.hot-note-item:nth-child(2) span {
    background-color: rgba(255, 132, 80, 1);
}
.hot-note-item:nth-child(3) span {
    background-color: rgba(255, 170, 70, 1);
}
.hot-note-item a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 14px;
    color: rgba(54, 58, 57, 1);
}
.hot-note-item a:hover {
    color: rgb(19, 168, 228);
}
/*主页页脚*/
#footer {
    width: 100%;
    height: 250px;
    font-size: 12px;
    background-color: #393D49;
}
#footer-content {
    position: relative;
    width: 1080px;
    height: 100%;
    margin: 0 auto;
}
#footer-content h2 {
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    color: #009688;
}
/*网站介绍*/
#introduce {
    position: absolute;
    top: 0;
    left: 20px;
    width: 500px;
    height: 64%;
    padding-top: 10px;
    text-align: center;
}
#introduce p {
    line-height: 25px;
    color: rgba(246, 246, 246, 1);
    text-align: left;
}
/*优质内容*/
#popu-content {
    position: absolute;
    top: 0;
    left: 520px;
    width: 200px;
    height: 64%;
    padding-top: 10px;
    text-align: center;
}
#popu-content #hot {
    width: 100%;
}
#hot a {
    display: block;
    height: 25px;
    line-height: 25px;
    color: rgba(246, 246, 246, .8);
}
#popu-content a:hover {
    color: rgba(246, 246, 246, 1);
}
/*联系方式*/
#contact {
    position: absolute;
    top: 0;
    right: 20px;
    width: 340px;
    height: 64%;
    padding-top: 10px;
}
#contact-content {
    width: 100px;
    margin: 0 auto;
}
#contact h2 {
    text-align: center;
}
#connect-way {
    width: 100px;
    height: 100%;
}
.connectlink {
    position: relative;
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    border: solid 2px rgba(246, 246, 246, .8);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: rgba(246, 246, 246, .8);
}
.connectlink:hover{
    color: rgba(246, 246, 246, 1);
    border: solid 2px rgba(246, 246, 246, 1);
}
.connectlink img {
    display: none;
    position: absolute;
    left: -30px;
    top: -110px;
    width: 100px;
    height: 100px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}
.connectlink span {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: rgba(255, 255, 255, 1);
    left: 15px;
    top: -10px;
}

#reference {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    line-height: 25px;
    margin-top: 40px;
    text-align: center;
    color: rgba(246, 246, 246, .8);
}
#reference>a{
    color: rgba(246, 246, 246, .8);
}
#reference>a:hover{
    color: rgba(0, 161, 214, 1);
}
#copyright{
    display: block;
}
/*侧边按钮*/
#noting, #feedback, #uptoTop {
    display: block;
    position: fixed;
    right: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(136, 149, 166, 1);
    text-align: center;
    cursor: pointer;
}
#noting:hover, #feedback:hover, #uptoTop:hover {
    color: rgba(121, 158, 232, .91);
}
/*创建手记按钮*/
#noting {
    bottom: 180px;
    font-size: 20px;
}
/*反馈按钮*/
#feedback {
    bottom: 130px;
    font-size: 20px;
}
/*跳转顶部按钮*/
#uptoTop {
    bottom: 80px;
    font-size: 30px;
}