/* 
对布局进行重新调整，
将容器一的左内边距置零，
并将原来左边侧栏通过绝对定位定位到右侧栏；
由于网站主页主要展示内容为各种文章、资源，
故将“留言功能”置于最后，以最小影响读者阅读。
*/
@media screen and (min-width: 1081px) and (max-width: 1200px) {
    #menu {
        width: 100%;
        padding: 0 calc((100% - 930px) / 2);
    }

    #secondary-menu, #container {
        width: 930px;
    }

    #top {
        width: 930px;
    }
    #card {
        width: 100%;
    }
}
@media screen and (max-width: 1088px) {
    body {
        min-width: 996px;
    }
    #menu {
        width: 100%;
        padding: 0 calc((100% - 900px) / 2);
    }
    #secondary-menu, #container {
        width: 900px;
    }
    #top {
        width: 900px;
    }
    #card {
        width: 100%;
    }

    #footer-content {
        width: 900px;
    }
    #introduce {
        width: 450px;
    }
    #popu-content {
        left: 480px;
        width: 200px;
    }
    #contact {
        width: 250px;
    }
}