body {
    position: relative;
    background-color: #f4f5f7;
}

#header {
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 1px 1px rgba(230, 230, 230, 1);
}
#menu{
    padding: 0 calc((100% - 1050px) / 2);
}

#container {
    position: relative;
    width: 1050px;
    margin: 16px auto;
}
#top{
    position: relative;
    height: 200px;

    background-image: url(../img/personal-homepage/ph-top-bg1.png);
    background-position: center top;
    background-size: cover;
}
#personal-info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 84px;
    padding: 0 20px 20px 20px;
}
#personal-basic-info{
    position: relative;
    width: 780px;
    height: 64px;
    padding-left: 64px;
}
#personal-basic-info img{
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px;
    border: solid 2px rgba(220, 220, 220, 1);
    border-radius: 50%;
    cursor: pointer;
}
#personal-basic-info-right{
    width: calc(100% - 64px);
    height: 64px;
    padding-left: 20px;
}
#personal-basic-info-right > div{
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding-left: 2px;
    color: #fff;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}
/*性别，经验*/
#personal-basic-info-right > div span:nth-child(2), #personal-basic-info-right > div span:nth-child(3){
    padding: 2px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: normal;
}
#personal-basic-info-right > div span:nth-child(2){
    margin: 0 4px;
}
#personal-basic-info-right > div span:nth-child(3){
    background-color: rgba(0, 161, 214, 1);
}
/*个性签名*/
#personal-basic-info-right > input{
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin-top: 2px;
    border-radius: 4px;
    color: #fff;
    text-align: left;
    font-size: 12px;
    background-color: transparent;
    border: none;
    outline: none;
    text-indent: 2px;
}
#personal-basic-info-right > input:focus{
    color: rgba(54, 58, 57, 1);
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#personal-basic-operate{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 64px;
}
#personal-basic-operate a{
    position: absolute;
    bottom: 0;
    display: block;
    width: fit-content;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: rgba(244, 90, 131, 1);
    opacity: .8;
}
#follow-ta{
    right: 90px;
}
/*按钮已关注样式*/
.has-follow{
    color: rgba(255, 255, 255, 1) !important;
    background-color: rgba(86, 87, 90, .9) !important;
}
.has-follow:hover{
    background-color: rgba(86, 87, 90, 1)  !important;
}
#send-msg{
    right: 8px;
}
/*中间*/
#center{
    position: relative;
    padding-right: 296px;
    margin: 16px 0;
}
#original-content{
    min-height: 420px;
}
#center .layui-tab-brief>.layui-tab-title{
    border-bottom: none;
    border-radius: 5px;
    background-color: #fff;
}
#center .layui-tab-brief>.layui-tab-title .layui-this{
    color: rgba(244, 90, 131, 1);
}
#center .layui-tab-title .layui-this:after{
    border-color: rgba(244, 90, 131, 1);
}

#original-content .layui-tab-content{
    padding: 0;
    margin-top: 10px;
}
/*广告推荐*/
#recommend-content{
    position: absolute;
    top: 0;
    right: 0;
    width: 280px;
    margin-left: 16px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 2px rgba(0, 0, 0,.1);
}
/*手记*/
#publish-infomation-note{
    min-height: 360px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #fff;
}
.article {
    width: 100%;
    height: 80px;
    padding: 5px 0;
    margin-bottom: 8px;
    border-bottom: solid 1px rgba(220, 220, 220, 1);
    letter-spacing: 1px;
}
.article:last-child{
    border-bottom: none;
}
.article h2 {
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.article h2 a {
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
}
.article h2 a:hover {
    color: rgba(0, 161, 214, .8);
}
.article p {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: rgba(108, 108, 108, 1);
}
.articleInfo {
    position: relative;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(108, 108, 108, 1);
}
/*作者个人信息栏*/
.author-infobox {
    position: relative;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    color: rgba(54, 58, 57, 1);
}
.author {
    display: inline-block;
    margin-right: 10px;
    color: rgba(54, 58, 57, 1);
}
.author:hover {
    color: rgba(244, 90, 131, 1);
}
.article-type{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding-right: 10px;
    color: rgba(54, 58, 57, 1);
}
.article-type:hover{
    color: rgba(54, 58, 57, 1);
}
/*浏览信息*/
.readInfo {
    position: absolute;
    top: 0;
    right: 5px;
    height: 100%;
    line-height: 100%;
}
.readInfo span {
    display: block;
    float: right;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    text-align: center;
}
.readInfo a {
    padding-right: 2px;
    color: rgba(54, 58, 57, 1);
}

/*动态*/
#publish-infomation-feed{
    background-color: #f4f5f7;
}
.forword-editor-cla, .comment-editor-cla1, .comment-editor-cla2{
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 60px;
    background-color: rgba(255, 255, 255, 1);
}
.forword-editor-cla, .comment-editor-cla1, .comment-editor-cla2{
    margin-bottom: 0;
}
.forword-editor-cla::before, .comment-editor-cla1::before, .comment-editor-cla2::before{
    content: '';
    position: absolute;
    top: -8px;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent rgba(220, 220, 220, 1) transparent;
}
.forword-editor-cla::before{
    left: 124px;
}
.comment-editor-cla1::before{
    left: 374px;
}
.comment-editor-cla2::before{
    left: 184px;
}
.forword-submit-cla, .comment-submit-cla{
    position: absolute;
    bottom: 12px;
    right: 8px;
    display: block;
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
    border-radius: 2px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: rgba(244, 90, 131, 1);
    cursor: pointer;
}
/*动态*/
.feed-item{
    position: relative;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 1);
}
.feed-item-top{
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding: 0 25px;
}
.feed-item-top img{
    width: 40px;
    height: 40px;
    margin: 20px 10px 20px 0;
    border-radius: 50%;
}
.feed-item-top a{
    color: rgba(244, 90, 131, 1);
}
.feed-item-top time{
    position: absolute;
    top: 20px;
    right: 25px;
    display: block;
    width: fit-content;
    height: 40px;
    line-height: 40px;
    color: rgba(181, 181, 181, 1);
}
.feed-item-center{
    min-height: 50px;
    line-height: 35px;
    padding: 0 60px 10px 80px;
}
/*=====动态图片大小=====*/
.feed-item-content-img-box{
    position: relative;
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    max-width: 420px;
    padding: 15px;
    margin-top: 5px;
    background-color: #F4F5F7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);

    display: -webkit-box;             /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;                 /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;       /* TWEENER - IE 10 */
    display: -webkit-flex;      /* NEW - Chrome */
    display: flex;              /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-box-orient: horizontal;     /* 09版 */
    -webkit-flex-direction: row;        /* 12版 */
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;

    -webkit-box-pack: center;       /* 09版 */
    -webkit-justify-content: center;        /* 12版 */
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;

    -webkit-box-lines: multiple;        /* 09版 */
    -webkit-flex-wrap: wrap;        /* 12版 */
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.forword-item-center .feed-item-content-img-box{
    background-color: rgba(255, 255, 255, 1);  /*设置转发动态的图片区域背景颜色*/
}
.feed-item-content-img{
    -webkit-box-flex: 1;              /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;                 /* OLD - Firefox 19- */
    -webkit-flex: 1;                     /* Chrome */
    -ms-flex: 1;                           /* IE 10 */
    flex: 1;                                   /* NEW, Spec - Opera 12.1, Firefox 20+ */

    flex-shrink: 0;

    width: 120px;
    height: 120px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}
/*==========*/
.feed-item-bottom{
    width: 100%;
    height: 40px;
    line-height: 40px;

    display: -webkit-box;             /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;                 /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;       /* TWEENER - IE 10 */
    display: -webkit-flex;      /* NEW - Chrome */
    display: flex;              /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-box-orient: horizontal;     /* 09版 */
    -webkit-flex-direction: row;        /* 12版 */
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;

    -webkit-box-pack: center;       /* 09版 */
    -webkit-justify-content: center;        /* 12版 */
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}
.feed-item-bottom span{
    display: block;
    text-align: center;
}
.feed-item-bottom span:nth-child(1), .feed-item-bottom span:nth-child(2), .feed-item-bottom span:nth-child(3){
    -webkit-box-flex: 1;              /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;                 /* OLD - Firefox 19- */
    -webkit-flex: 1;                     /* Chrome */
    -ms-flex: 1;                           /* IE 10 */
    flex: 1;                                   /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.feed-item-bottom span:nth-child(1){
    border-right: solid 1px rgba(0, 0, 0, .1);
}
.feed-item-bottom span:nth-child(3){
    border-left: solid 1px rgba(0, 0, 0, .1);
}
.feed-item-bottom span a{
    font-size: 14px;
    display: block;
    width: fit-content;
    height: 100%;
    line-height: 100%;
    margin: 0 auto;
    color: #333333;
    cursor: pointer;

    display: -webkit-box;             /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;                 /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;       /* TWEENER - IE 10 */
    display: -webkit-flex;      /* NEW - Chrome */
    display: flex;              /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-box-orient: horizontal;          /* 09版 */
    -webkit-flex-direction: row;        /* 12版 */
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;

    -webkit-box-pack: center;       /* 09版 */
    -webkit-justify-content: center;        /* 12版 */
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}
.feed-item-bottom span a:hover{
    color: rgba(244, 90, 131, 1);
}
/*是否转发*/
.feed-item-bottom span .has-forword, .feed-item-bottom span .has-like{
    color: rgba(244, 90, 131, 1);
}
.feed-item-bottom span .no-forword, .feed-item-bottom span .no-like{
    color: #333333;
}
/*动态数据*/
.forword-cnt, .comment-cnt, .like-cnt{
    padding: 13px 5px;
    font-size: 14px;
    font-style: normal;
}
/*转发内容*/
.forword-item-block{
    position: relative;
    background-color: #F4F5F7;
    font-size: 13px;
    padding-bottom: 10px;
    margin-top: 8px;
}
.forword-item-top{
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
}
.forword-item-top img{
    width: 30px;
    height: 30px;
    margin: 15px 10px 15px 0;
    border-radius: 50%;
}
.forword-item-top a{
    color: rgba(244, 90, 131, 1);
}
.forword-item-top time{
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: fit-content;
    height: 30px;
    line-height: 30px;
    color: rgba(181, 181, 181, 1);
}
.forword-item-center{
    min-height: 50px;
    line-height: 30px;
    padding: 0 15px 0 50px;
}
/*动态已被删除*/
.forword-item-inexistence{
    min-height: 50px;
    line-height: 30px;
    padding: 10px 15px 10px 50px;
}
/*没有内容了*/
#feeds-block .layui-flow-more{
    font-size: 13px;
    padding: 10px 0;
}

/*内容为空*/
#no-content-box{
    width: 100%;
    margin: 100px auto;
}
#no-content-icon, #no-content {
    display: block;
    width: 100%;
    color: #707070;
    text-align: center;
}
#no-content-icon .icon{
    font-size: 80px;
}
#no-content {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    letter-spacing: 1px;
}

/*跳转顶部*/
#uptoTop {
    display: block;
    position: fixed;
    bottom: 80px;
    right: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(136, 149, 166, 1);
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    overflow: hidden;
}
#uptoTop:hover {
    color: rgba(121, 158, 232, .91);
}
#uptoTop:hover::before{
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 14px;
    text-align: center;
}
#uptoTop:hover::before{
    content: 'TOP';
    background-color: #fff;
}

/*响应式*/
@media screen and (min-width: 1081px) and (max-width: 1200px) {
    #menu {
        width: 100%;
        padding: 0 calc((100% - 980px) / 2);
    }
    #container {
        width: 980px;
    }
}
@media screen and (max-width: 1088px) {
    body {
        min-width: 996px;
    }
    #menu {
        width: 100%;
        padding: 0 calc((100% - 960px) / 2);
    }
    #container {
        width: 960px;
    }
}