* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Alright Sans LP,Avenir Next,Helvetica Neue,Helvetica,Arial,PingFang SC,Source Han Sans SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi MicroHei,sans-serif;
}
a {
    text-decoration: none;
}
a:hover{
    color: rgba(54, 58, 57, 1);
}

html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #f4f5f7;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(196, 196, 196, 1);
}