<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="commons/navigationbar/head :: headerfiles"></head>
    <head th:include="commons/feed-common :: head"></head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/feed.css}">
    <title>动态首页</title>
</head>
<body id="scroll-ele">
<div th:replace="commons/common :: doubleRing"></div>
<header id='header'>
    <div th:replace="commons/navigationbar/head :: header"></div>
</header>
<div id='container'>
    <input type="hidden" id="current-user" th:value="${userId}">
    <div id="left">

    </div>
    <div id="center">
        <div id="original-editor">
            <textarea id="editor-input" style="display: none;"></textarea>
        </div>
        <div id="feeds-block">
            <!--
            <div class='feed-item'>
                <div class='feed-item-top'>
                    <img src=''>
                    <span>昵称</span>
                    <time>时间</time>
                </div>
                <div class='feed-item-center'>
                    内容
                </div>
                <div class='feed-item-bottom'>
                    <span>
                        <a>
                            <svg class="icon" aria-hidden="true" style="font-size: 23px">
                                <use xlink:href="#icon-zhuanfa-"></use>
                            </svg>
                        </a>
                    </span>
                    <span>
                        <a>
                            <svg class="icon" aria-hidden="true" style="font-size: 25px">
                                <use xlink:href="#icon-chat"></use>
                            </svg>
                        </a>
                    </span>
                    <span>
                        <a>
                            <svg class="icon" aria-hidden="true" style="font-size: 23px">
                                <use xlink:href="#icon-zan"></use>
                            </svg>
                        </a>
                    </span>
                </div>
            </div>-->
        </div>
    </div>
    <div id="right">
        <div class="layui-carousel" id="recommend-carousel">
            <div carousel-item>
                <div style="background-color: #009688">条目1</div>
                <div style="background-color: #5FB878">条目2</div>
                <div style="background-color: #009688">条目3</div>
                <div style="background-color: #5FB878">条目4</div>
                <div style="background-color: #009688">条目5</div>
            </div>
        </div>
    </div>
</div>
<div id="uptoTop">
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-fanhuidingbu"></use>
    </svg>
</div>
<script th:replace="commons/feed-common :: body"></script>
<script type="text/javascript" th:src="@{/js/feed.js}"></script>
</body>
</html>