<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="commons/navigationbar/head :: headerfiles"></head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/personal-homepage.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/comment-area.css}">
    <!--手记模板-->
    <script id="visitor-article-template" type="text/html">
        <article class='article'>
            <h2><a class='noteTitle' href='/note/{{ d.id }}'>{{ d.title }}</a></h2>
            <p>点击进入详细阅读</p>
            <div class='articleInfo'>
                <span class='content-type'>{{ d.type }}</span>
                <time>{{ d.createTime }}</time>
                <div class='readInfo'><span><a>浏览量</a>{{ d.readCnt }}</span>
                    <span><a>评论</a>{{ d.commentCnt }}</span>
                </div>
            </div>
        </article>
    </script>
    <!--原创模板-->
    <script id="original-feed-template" type="text/html">
        <div class="feed-item" id="feed-item-{{ d.feed.id }}" data-type="{{ d.type }}" data-forword="0" data-comment="0" data-id="{{ d.feed.id }}">
            <div class="feed-item-top">
                <img data-id="{{ d.feed.user.userId }}" src="{{ d.feed.user.profilePath }}">
                <a herf="/user/{{ d.feed.user.userId }}" data-id="{{ d.feed.user.userId }}">{{ d.feed.user.nickname }}</a>
                <time>{{ d.createTime }}</time>
            </div>
            <div class="feed-item-center">{{ d.map.content }}</div>
            <div class="feed-item-bottom">
            <span>
                <a data-id="{{ d.feed.id }}" data-forword-state="{{ d.forwordState }}" class="{{ d.forwordStateCla }}" onclick="showForwordEditor(this)">
                    <svg class="icon" aria-hidden="true" style="font-size: 20px; margin: 10px 0;">
                        <use xlink:href="#icon-zhuanfa-"></use>
                    </svg>
                    <em class="forword-cnt" id="{{ d.forwordCntId }}">{{ d.feed.forwordCnt }}</em>
                </a>
            </span>
                <span>
                <a data-id="{{ d.feed.id }}" onclick="showForwordComment(this)">
                    <svg class="icon" aria-hidden="true" style="font-size: 22px; margin: 9px 0;">
                        <use xlink:href="#icon-chat"></use>' +
                    </svg>
                    <em class="comment-cnt" id="{{ d.commentCntId }}">{{ d.feed.commentCnt }}</em>
                </a>
            </span>
                <span>
                <a data-id="{{ d.feed.id }}" data-like-state="{{ d.likeState }}" class="{{ d.likeStateCla }}" onclick="likeFeed(this)">
                    <svg class="icon" aria-hidden="true" style="font-size: 20px; margin: 10px 0;">
                        <use xlink:href="#icon-zan"></use>
                    </svg>
                    <em class="like-cnt" id="{{ d.likeCntId }}">{{ d.feed.likeCnt }}</em>
                </a>
            </span>
            </div>
        </div>
    </script>
    <!--转发模板-->
    <script id="forword-feed-template" type="text/html">
        <div class="feed-item" data-type="{{ d.type }}" data-forword="0" data-comment="0" data-id="{{ d.feed.id }}">
            <div class="feed-item-top">
                <img data-id="{{ d.feed.user.userId }}" src="{{ d.feed.user.profilePath }}">
                <a href="/user/{{ d.feed.user.userId }}" data-id="{{ d.feed.user.userId }}">{{ d.feed.user.nickname }}</a>
                <time>{{ d.createTime }}</time>
            </div>
            <div class="feed-item-center">
                {{ d.content }}
                <div class="forword-item-block">
                    {{# if(d.flag){ }}
                    <div class="forword-item-top">
                        <img data-id="{{ d.forword.user.userId }}" src="{{ d.forword.user.profilePath }}">
                        <a href="/user/{{ d.forword.user.userId }}" data-id="{{ d.forword.user.userId }}">{{ d.forword.user.nickname }}</a>
                        <time>{{ d.forwordCreateTime }}</time>
                    </div>
                    <div class="forword-item-center">
                        {{ d.forwordContent }}
                    </div>
                    {{# }else{ }}
                    <div class="forword-item-inexistence">
                        {{ d.forwordContent }}
                    </div>
                    {{# } }}
                </div>
            </div>
            <div class="feed-item-bottom">
            <span>
                <a data-id="{{ d.feed.id }}" onclick="showForwordComment(this)">
                    <svg class="icon" aria-hidden="true" style="font-size: 22px; margin: 9px 0;">
                        <use xlink:href="#icon-chat"></use>' +
                    </svg>
                    <em class="comment-cnt" id="{{ d.commentCntId }}">{{ d.feed.commentCnt }}</em>
                </a>
            </span>
                <span>
                <a data-id="{{ d.feed.id }}" data-like-state="{{ d.likeState }}" class="{{ d.likeStateCla }}" onclick="likeFeed(this)">
                    <svg class="icon" aria-hidden="true" style="font-size: 20px; margin: 10px 0;">
                        <use xlink:href="#icon-zan"></use>
                    </svg>
                    <em class="like-cnt" id="{{ d.likeCntId }}">{{ d.feed.likeCnt }}</em>
                </a>
            </span>
            </div>
        </div>
    </script>
    <title th:text="|${owner.nickname}的个人主页|"></title>
</head>
<body>
<div th:replace="commons/common :: doubleRing"></div>
<header id='header'>
    <div th:replace="commons/navigationbar/head :: header"></div>
</header>
<div id='container'>
    <input id="current-user" type="hidden" th:value="${curuserId}">
    <input id="user-id" type="hidden" th:value="${owner.userId}">
    <div id="top">
        <div id="personal-info">
            <div id="personal-basic-info">
                <img th:src="${owner.profilePath}">
                <div id="personal-basic-info-right">
                    <div th:data-id="${owner.userId}">
                        <span th:text="${owner.nickname}"></span>
                        <span>
                            <svg class="icon" aria-hidden="true">
                                <use th:if="${owner.gender == 1}" xlink:href="#icon-nanxing"></use>
                                <use th:if="${owner.gender == 2}" xlink:href="#icon-nvxing"></use>
                            </svg>
                        </span>
                        <span th:text="${owner.experience}"></span>
                    </div>
                    <input id="signature" th:data-id="${owner.userId}" th:placeholder="编辑个性签名" th:value="${owner.motto}">
                </div>
            </div>
            <div id="personal-basic-operate">
                <a href="javascript:void(0);" th:data-tag="-1" id="follow-ta">关注TA</a>
                <a th:href="@{/user/message/2}" th:data-id="${owner.userId}" id="send-msg">发消息</a>
            </div>
        </div>
    </div>
    <div id="center">
        <div id="original-content">
            <div class="layui-tab layui-tab-brief" lay-filter="publish-infomation">
                <ul class="layui-tab-title">
                    <li class="layui-this" style="vertical-align: middle">
                        <svg class="icon" aria-hidden="true" style="display:inline-block;margin-right: 2px;">
                            <use xlink:href="#icon-biji-copy"></use>
                        </svg>
                        <span>手记</span>
                    </li>
                    <li>
                        <svg class="icon" aria-hidden="true" style="display:inline-block;margin-right: 2px;">
                            <use xlink:href="#icon-7"></use>
                        </svg>
                        <span>动态</span>
                    </li>
                </ul>
                <div class="layui-tab-content">
                    <div id="publish-infomation-note" class="layui-tab-item layui-show"></div>
                    <div id="publish-infomation-feed" class="layui-tab-item"></div>
                </div>
            </div>
        </div>
        <div id="recommend-content">
            <div class="layui-carousel" id="recommend-carousel">
                <div carousel-item>
                    <div style="background-color: #009688">条目1</div>
                    <div style="background-color: #5FB878">条目2</div>
                    <div style="background-color: #009688">条目3</div>
                    <div style="background-color: #5FB878">条目4</div>
                    <div style="background-color: #009688">条目5</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="uptoTop">
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-fanhuidingbu"></use>
    </svg>
</div>
<script>
    let forword;
    function showForwordEditor(ele){
        layui.use('layedit', function () {
            let layedit = layui.layedit;

            let feedId = ele.getAttribute("data-id"),  //利用feedId为每个编辑框设置唯一id
                feedblock = ele.parentElement.parentElement.parentElement;
            if(feedblock.getAttribute("data-comment") === "1"){
                feedblock.removeChild(document.getElementById("comment-editor-"+feedId));
                feedblock.removeChild(document.getElementById("comment-area-"+feedId));
                feedblock.setAttribute("data-comment", "0");
                ele.parentElement.nextElementSibling.children[0].style.color = "#333333";
            }
            if(feedblock.getAttribute("data-forword") === "1"){  //为容器添加是否存在转发编辑框的标志属性data-forword，0不存在，1存在
                feedblock.removeChild(document.getElementById("forword-editor-"+feedId));
                feedblock.setAttribute("data-forword", "0");
                if(ele.getAttribute("data-forword-state") === "-1"){
                    ele.style.color = "#333333";
                }
                return;
            }
            let forwordEditor = document.createElement("div");
            forwordEditor.id = "forword-editor-" + feedId;
            forwordEditor.classList.add("forword-editor-cla");
            forwordEditor.innerHTML = "<textarea id='forword-editor-input-"+ feedId +"' style='display: none;'></textarea>" +
                "<span data-id='"+ feedId +"' class='forword-submit-cla' onclick='forwordFeed(this)'>转发该动态</span>";
            feedblock.appendChild(forwordEditor);
            if(ele.getAttribute("data-forword-state") === "-1"){
                ele.style.color = "rgba(244, 90, 131, 1)"; //点亮转发按钮
            }
            feedblock.setAttribute("data-forword", "1");  //设置存在转发编辑框标志
            forword = layedit.build('forword-editor-input-'+feedId, {
                height: 100,
                tool: [
                    'face' //表情
                ]
            });
        });
    }

    function forwordFeed(ele){
        layui.use(['layedit', 'layer'], function () {
            let layedit = layui.layedit,
                layer = layui.layer;
            let isClickForwordBtn = true;
            if(isClickForwordBtn){
                let index = layer.load(1, {
                    shade: [0.4,'#000'] //0.1透明度的白色背景
                });
                isClickForwordBtn = false;
                setTimeout(function () {
                    isClickForwordBtn = true;
                }, 1500);
                let feedId = ele.getAttribute("data-id");
                layedit.sync(forword);
                let content = document.querySelector("#forword-editor-input-"+ele.getAttribute("data-id")).value;
                content = content + " //转发动态";
                $.ajax({
                    type: "POST",
                    url: '/user/feed/forword',
                    data: {
                        "content": content,
                        "feedId": feedId
                    },
                    dataType: "json",
                    success:function(data){
                        layer.close(index);
                        if(data.code === REQ_SUCC){
                            layer.msg("转发成功", {
                                time: 2500
                            });
                            console.log(document.getElementById("forword-cnt-"+feedId).innerHTML);
                            window.location.reload();
                        }else{
                            layer.msg(data.code + ":" + data.msg, {
                                time: 2500
                            });
                        }
                    },
                    async: true
                });
            }
        });
    }

    /*点赞*/
    function likeFeed(ele){
        let feedId = ele.getAttribute("data-id"),
            like = ele.getAttribute("data-like-state") === "1";
        let reqUrl = like ? "/user/dislike/feed" : "/user/like/feed";
        $.ajax({
            type: "POST",
            url: PRO_NAME + reqUrl,
            data: {"feedId": feedId},
            dataType: "json",
            success: function (data) {
                if(data.code === REQ_SUCC && data.data !== undefined){
                    if(like){
                        ele.classList.remove("has-like");
                        ele.classList.add("no-like");
                        ele.setAttribute("data-like-state", -1);
                    }else{
                        layer.msg("点赞成功", {
                            time: 2500
                        });
                        ele.classList.remove("no-like");
                        ele.classList.add("has-like");
                        ele.setAttribute("data-like-state", 1);
                    }
                    let likeCntBox = document.getElementById("like-cnt-" + feedId);
                    if(null != likeCntBox){
                        likeCntBox.innerHTML = data.data.likeCnt;
                    }
                }
            },
            async: true
        });
    }

    let comment;
    function showForwordComment(ele) {
        layui.use(['layedit'], function () {
            let layedit = layui.layedit;

            let feedId = ele.getAttribute("data-id");  //利用feedId为每个编辑框设置唯一id
            let feedblock = ele.parentElement.parentElement.parentElement;
            if(feedblock.getAttribute("data-forword") === "1"){
                feedblock.removeChild(document.getElementById("forword-editor-"+feedId));
                feedblock.setAttribute("data-forword", "0");
                if(ele.parentElement.previousElementSibling.children[0].getAttribute("data-forword-state") === "-1"){
                    ele.parentElement.previousElementSibling.children[0].style.color = "#333333";
                }
            }
            if(feedblock.getAttribute("data-comment") === "1"){  //为容器添加是否存在转发编辑框的标志属性data-comment，0不存在，1存在
                feedblock.removeChild(document.getElementById("comment-editor-"+feedId));
                feedblock.removeChild(document.getElementById("comment-area-"+feedId));
                feedblock.setAttribute("data-comment", "0");
                ele.style.color = "#333333";
                return;
            }
            //根据动态类型设置箭头::before位置(通过设置不同类)
            let cla;
            if(feedblock.getAttribute("data-type") === "1"){
                cla = "comment-editor-cla1";
            }else{
                cla = "comment-editor-cla2";
            }
            let commentEditor = document.createElement("div");
            commentEditor.id = "comment-editor-" + feedId;
            commentEditor.classList.add(cla);
            commentEditor.innerHTML = "<textarea id='comment-editor-input-"+ feedId +"' style='display: none;'></textarea>" +
                "<span data-id='"+ feedId +"' class='comment-submit-cla' onclick='commentFeed(this)'>评论该动态</span>";
            //加载评论区
            let commentBlock = document.createElement("div");
            commentBlock.id = "comment-area-" + feedId;
            commentBlock.classList.add("comment-area");
            feedblock.appendChild(commentEditor);
            feedblock.appendChild(commentBlock);
            ele.style.color = "rgba(244, 90, 131, 1)"; //点亮评论按钮
            feedblock.setAttribute("data-comment", "1");  //设置存在评论编辑框标志
            comment = layedit.build('comment-editor-input-'+feedId, {
                height: 100,
                tool: [
                    'face' //表情
                ]
            });
            loadComment(feedId, document.getElementById("comment-area-" + feedId));
        });
    }

    function commentFeed(ele) {
        layui.use(['layedit', 'layer'], function () {
            let layedit = layui.layedit,
                layer = layui.layer;
            let isClickCommentBtn = true;
            if(isClickCommentBtn){
                isClickCommentBtn = false;
                setTimeout(function () {
                    isClickCommentBtn = true;
                }, 1500);
                let feedId = ele.getAttribute("data-id");
                layedit.sync(comment);
                let content = document.querySelector("#comment-editor-input-"+ele.getAttribute("data-id")).value;
                if(content == null || content.length <= 0){
                    layer.msg("评论不能为空", {
                        time: 2500
                    });
                    return;
                }
                let index = layer.load(1, {
                    shade: [0.4,'#000'] //0.1透明度的白色背景
                });
                $.ajax({
                    type: "POST",
                    url: '/user/feed/comment',
                    data: {
                        "content": content,
                        "feedId": feedId,
                        "parentId": 0
                    },
                    dataType: "json",
                    success:function(data){
                        layer.close(index);
                        if(data.code === REQ_SUCC){
                            layer.msg("评论成功", {
                                time: 2500
                            });
                            layedit.setContent(comment, "", false);
                            loadComment(feedId, document.getElementById("comment-area-" + feedId));
                        }else{
                            layer.msg(data.code + ":" + data.msg, {
                                time: 2500
                            });
                        }
                    },
                    async: true
                });
            }
        });
    }

    function loadComment(feedId, commentBox){
        $.ajax({
            type: "GET",
            url: PRO_NAME + "/user/feed/comments",
            data: {
                "feedId": feedId
            },
            dataType: "json",
            success: function (data) {
                if(data.code === REQ_SUCC){
                    if(data.data !== undefined && data.data.comments.length > 0){
                        showComments(feedId, data.data.comments, commentBox);
                        showCommentFunc(feedId);
                    }else{
                        commentBox.innerHTML = "<div id='no-comments'>" +
                            "<span id='no-comments-icon'>" +
                            "<svg class='icon' aria-hidden='true'>" +
                            "<use xlink:href='#icon-shafa1'></use>" +
                            "</svg>" +
                            "</span>"+
                            "<span id='no-comments-text'>第一个赶到的你，赶紧来<a href='#write-comment-box'>抢沙发</a>吧</span>"
                        "</div>";
                    }
                }
            },
            async: true
        });
    }

    /**
     * 展示评论区
     */
    function showComments(feedId, comments, commentBox) {
        layui.use(['util'], function () {
            let util = layui.util;

            commentBox.innerHTML = "";
            for (let i = 0; i < comments.length; i++) {
                if (comments[i] != null) {
                    let createTime = util.timeAgo(comments[i].createTime, false);
                    //创建一条评论
                    let comment = document.createElement("div");
                    addClass("comment", comment);
                    //创建评论者头像
                    let observerImg = document.createElement("img");
                    addClass("comment-profile", observerImg);
                    observerImg.src = comments[i].user.profilePath;
                    //创建父评论
                    let observer = document.createElement("div");
                    addClass("comment-rightpart", observer);
                    observer.innerHTML = "<time class='comment-time'>" + createTime + "</time>" +
                        "<a href='/user/"+ comments[i].user.userId +"' class='comment-nickname'>" + comments[i].user.nickname + "</a>" +
                        "<span class='comment-content'>" + comments[i].content +
                        "<a class='comment-func' data-owner-id='"+ comments[i].user.userId +"' data-id='"+ comments[i].id +"' data-nickname='"+ comments[i].user.nickname +"' data-comment-content='"+ comments[i].content +"'>" +
                        "<svg class='icon' aria-hidden='true'>" +
                        "<use xlink:href='#icon-unie6a52'></use>" +
                        "</svg>" +
                        "</a>" +
                        "</span>";
                    //将主评论插入到评论
                    comment.appendChild(observerImg);
                    comment.appendChild(observer);

                    if (comments[i].childComments != null) {
                        showReplies(comment, comments[i], comments[i].childComments);
                    }
                    //将评论插入评论区
                    commentBox.appendChild(comment);
                }
            }
        });
    }

    //创建子评论（即回复）
    function showReplies(comment, parentComment, childComment) {
        layui.use(['util'], function () {
            let util = layui.util;

            for (let j = 0; j < childComment.length; j++) {
                let createTime = util.timeAgo(childComment[j].createTime, false);
                //创建回复
                let replyBox = document.createElement("div");
                addClass("replies", replyBox);
                replyBox.innerHTML = "<img src='" + childComment[j].user.profilePath + "' class='comment-profile'>" +
                    "<time class='reply-time'>" + createTime + "</time>" +
                    "<a href='/user/"+ childComment[j].user.userId +"' class='comment-nickname'>" + childComment[j].user.nickname + "</a><span class='reply-text'>回复</span><a href='/user/"+ parentComment.user.userId +"' class='comment-nickname'>" + parentComment.user.nickname + "</a>" +
                    "<span class='comment-content'>" + childComment[j].content +
                    "<a class='comment-func' data-owner-id='"+ childComment[j].user.userId +"' data-id='"+ childComment[j].id +"' data-nickname='"+ childComment[j].user.nickname +"' data-comment-content='"+ childComment[j].content +"'>" +
                    "<svg class='icon' aria-hidden='true'>" +
                    "<use xlink:href='#icon-unie6a52'></use>" +
                    "</svg>" +
                    "</a>" +
                    "</span>";
                comment.appendChild(replyBox);
                //如果该评论还有子评论，就继续递归创建子评论
                if (childComment[j].childComments != null) {
                    //传递父评论跟子评论过去，进行递归调用
                    showReplies(comment, childComment[j], childComment[j].childComments);
                }
            }
        });
    }

    /**
     * 渲染评论可用自定义功能
     */
    function showCommentFunc(feedId) {
        let currentUserId = document.querySelector("#current-user").value;
        let commentFuncBtn = document.querySelectorAll(".comment-func");
        for(let i=0; i<commentFuncBtn.length; i++){
            commentFuncBtn[i].addEventListener("click", function (e) {
                let ownerId = commentFuncBtn[i].getAttribute("data-owner-id");
                let bereplyId = commentFuncBtn[i].getAttribute("data-id");
                let bereplyNickname = commentFuncBtn[i].getAttribute("data-nickname");
                let commentContent = commentFuncBtn[i].getAttribute("data-comment-content");
                //判断当前评论是否属于本用户
                let content;
                if(ownerId === currentUserId){
                    content = "<a class='comment-func-point reply' data-id='"+ bereplyId +"' data-nickname='"+ bereplyNickname +"' data-comment-content='"+ commentContent +"'>回复</a><br>" +
                        "<a class='comment-func-point report-comment'>举报</a><br>" +
                        "<a class='comment-func-point delete-comment' data-id='"+ bereplyId +"'>删除</a>";
                }else{
                    content = "<a class='comment-func-point reply' data-id='"+ bereplyId +"' data-nickname='"+ bereplyNickname +"' data-comment-content='"+ commentContent +"'>回复</a><br>" +
                        "<a class='comment-func-point report-comment'>举报</a>";
                }
                layer.tips(content, this, {
                    time: 8000,
                    success: function (index, layero) {
                        //todo 当鼠标点击其它位置时，关闭tips
                    }
                });
                replyTo(feedId);
                reportComment();
                deleteComment(feedId);
            })
        }
    }
    /**
     * 回复
     */
    function replyTo(feedId) {
        let replyBtns = document.querySelectorAll(".reply");
        for(let i=0; i<replyBtns.length; i++){
            replyBtns[i].addEventListener("click", function (e) {
                let bereplyId = replyBtns[i].getAttribute("data-id");
                let bereplyNickname = replyBtns[i].getAttribute("data-nickname");
                let commentContent = replyBtns[i].getAttribute("data-comment-content");
                layer.open({
                    type: 2,
                    title: '回复【'+bereplyNickname+'】的评论【'+ commentContent +'】',
                    shadeClose: true,
                    shade: 0.3,
                    area: ['420px', '260px'],
                    content: '/user/feed/reply/'+ feedId +"/"+ bereplyId,
                    end: function () {
                        loadComment(feedId, document.getElementById("comment-area-" + feedId));
                    }
                });
            });
        }
    }
    /**
     * 举报评论
     */
    function reportComment() {
        let replyBtns = document.querySelectorAll(".reply");
        let reportBtns = document.querySelectorAll(".report-comment");
        for(let i=0; i<reportBtns.length; i++){
            reportBtns[i].addEventListener("click", function (e) {
                let bereplyId = replyBtns[i].getAttribute("data-id");
                let bereplyNickname = replyBtns[i].getAttribute("data-nickname");
                let commentContent = replyBtns[i].getAttribute("data-comment-content");
                layer.open({
                    type: 2,
                    title: '举报【'+bereplyNickname+'】的评论【'+commentContent+'】',
                    shadeClose: true,
                    shade: 0.4,
                    area: ['420px', '300px'],
                    content: '/user/report/'+ ENTITY_FEED + "/" + bereplyId,
                    end: function () {

                    }
                });
            })
        }
    }
    /**
     * 删除评论
     */
    function deleteComment(feedId) {
        let deleteBtns = document.querySelectorAll(".delete-comment");
        for(let i=0; i<deleteBtns.length; i++){
            deleteBtns[i].addEventListener("click", function (e) {
                let commentId = deleteBtns[i].getAttribute("data-id");
                $.ajax({
                    type: "POST",
                    url: PRO_NAME + "/user/comment/delete",
                    data: {"commentId": commentId},
                    dataType: "json",
                    success: function (data) {
                        if(data.code === REQ_SUCC){
                            loadComment(feedId, document.getElementById("comment-area-" + feedId));
                            layer.msg("评论已删除", {
                                time: 2500
                            });
                        }else{
                            layer.msg("删除评论失败", {
                                time: 2500
                            });
                        }
                    },
                    async: true
                });
            })
        }
    }
</script>
<script type="text/javascript" th:src="@{/js/personal-homepage.js}"></script>
</body>
</html>